<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeoArt</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- SweetAlert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- VUE -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <!-- Navbar -->
  <div id="app">

    <nav class="navbar navbar-expand-lg navbar-dark">
        
      <a class="navbar-brand ms-5 my-3" href="index.html">
        <img src="img/art.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top me-2  ">
        <a class="navbar-brand geoArtLetter" href="index.html">GeoArt</a>
      </a>
      
    </nav>
  
      <main>
        <!-- Formulario de registro -->
        <div class="container ">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="card cardColor form-card">
                <div class="mt-4 text-center">
                  <h2 class="">Registro</h2>
                </div>
                <div class="card-body">
                  <form>
                    <div class="mb-3 text-start ms-5 me-5">
                      <label for="username" class="form-label">Nombre de usuario</label>
                      <input type="text" name="" class="form-control" v-model="name" placeholder="Ingresa tu usuario"  required>
                    </div>
                    <div class="mb-3 text-start ms-5 me-5">
                      <label for="email" class="form-label text-center">Correo electronico</label>
                      <input type="email" name="" class="form-control" v-model="email" placeholder="Ingresa tu correo electronico" required>
                    </div>
                    <div class="mb-3 text-start ms-5 me-5">
                      <label for="contraseña" class="form-label ">Contraseña</label>
                      <input type="password" name="" class="form-control" v-model="password" placeholder="Ingresa tu contraseña"  required>
                    </div>
                    <div class="d-grid gap-2 me-5 ms-5">
                      <button class="btn btn-dark mb-1" @click="register">Registrarse</button>
                    </div>
                    <div class="text-end me-5">
                      <small>Ya cuentas con cuenta? <a href="login.html">Login</a></small>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </main>
  </div>
  
  
  <!-- Bootstrap JS -->
  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>

<script>
  
  const { createApp } = Vue

  createApp({
    data() {
      return {
        name: '',
        email: '',
        password: ''
      }
    },
    methods: {
      register(e){
        e.preventDefault();
        // const axios = require('axios');
        let data = JSON.stringify({
          "name": this.name,
          "email": this.email,
          "password": this.password
        });

        let config = {
          method: 'post',
          maxBodyLength: Infinity,
          url: 'https://web-figma-clone-backend-production.up.railway.app/api/auth/signup',
          headers: { 
            'Content-Type': 'application/json'
          },
          data : data
        };

        axios.request(config)
        .then((response) => {
          if (response.data.ok) {
            Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Su cuenta se a creado correctamente',
            showConfirmButton: false,
            timer: 2000
          })
            var temp = {
              username: response.data.name,
              token: response.data.token
            }
            localStorage.setItem('username', JSON.stringify(temp));
            
            setTimeout(() => {
              window.location.href='./login.html'
            }, 2000);
            console.log(JSON.stringify(response.data));
            
          }
        })
        .catch((error) => {
          console.log(error);

          Swal.fire({
          title: 'Uno de los datos esta incorrecto, intentelo denuevo',
          icon: 'info',
          showClass: {
            popup: 'animate__animated animate__fadeInDown'
          },
          hideClass: {
            popup: 'animate__animated animate__fadeOutUp'
          }
        })
        });
      }

    },
    mounted(){

    }
  }).mount('#app')
</script>